.introduction {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bolder;
  transition: 0.3s font-size linear;
}

.introduction:hover {
  font-size: 10px;
  transition: 0.1s font-size linear;
}
